@import '../../../styles/colors.scss';

.beneficiary {
    width: 80%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: $font-roboto;
    color: $blue-dark;
    margin-bottom: 10vh;
    padding: 5vw 10%;

    @media (max-width: 460px) {
        font-size: 20px;
    }
}