@import '../../../styles/colors.scss';

.wrapper {
    max-width: 65vw;
    width: 65vw;
    overflow: hidden;
}

.parallax {
    width: 100%;
    max-width: 100%;
    perspective: 1px;
    height: 65vh;
    overflow-y: auto;
}

.parallax_layer {
  position: absolute;
  inset: 0;   
  height: 100%;
}

.parallax_image {
  transform: translateZ(0);
  object-fit: cover;
  
  img {
    @media(max-width: 768px) {
        height: calc(100% + 300px);
        object-fit: cover;
    }
  }
}

.parallax_text {
    transform: translateZ(-2px);
    color: $white;
    font-family: $font-roboto-slab;
    font-size: 140px;
    font-size: 72px;
    transform: translateZ(-2px) translateX(100px) translateY(97%) scale(3);
    line-height: 100%;

    @media (max-width: 1140px) {
      font-size: 65px;
    }

    @media (max-width: 790px) {
      font-size: 55px;
    }
    
    @media (max-width: 768px) {
      font-size: 40px;
      transform: translateZ(-2px) translateX(20px) translateY(97%) scale(3);
    }
}

