$white: #FFFFFF;
$grey-dark: #54595F;
$blue-dark: #10324A;
$green-accent: #61CE70;
$blue-primary: #0D5E96;
$blue-light: #4CB5E4;
$beige-light: #FDF7F7;
$blue-pale: #B9D5EB;

$gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);

// Шрифты
$font-roboto: "Roboto", sans-serif;
$font-roboto-slab: "Roboto Slab", serif;
$font-times: "Times New Roman", serif;
$font-weight-semibold: 600;
$font-weight-regular: 400;