$font-roboto: 'Roboto', sans-serif;
$font-roboto-slab: 'Roboto Slab', serif;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$transition-appearance: all 250ms ease-in;
$transition-disappearance: all 150ms ease-out;
