@import '../../../styles/colors.scss';


.title {
    color: $blue-dark;
    text-align: left;
    margin-top: 6vw;
    font-family: $font-roboto-slab;
    width: 80%;
    font-size: 44px;
    margin-left: auto;
    margin-right: auto;
}