@import '../../../styles/colors.scss';


.contactPage {
    margin-bottom: 10vw;
} 

.title {
    color: $blue-dark;
    text-align: left;
    margin-top: 6vw;
    font-family: $font-roboto-slab;
    width: 80%;
    font-size: 44px;
    margin-left: auto;
    margin-right: auto;
}

.h2, 
.text {
    color: $blue-dark;
    text-align: left;
    font-family: $font-roboto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.h2 {
    font-size: 38px;
    margin-top: 3vw;
}

.text {
    font-size: 34px;
}

@media (max-width: 460px) {
    .title {
        font-size: 34px;
        margin-bottom: 5vw;
    }
    .h2 {
        font-size: 30px;
    }

    .text {
        font-size: 30px;
    }
}