@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/autoplay';
@import '../../../styles/colors.scss';

.feedback {
    width: 80%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: $font-roboto;
    color: $blue-dark;
    padding: 5vw 10%;
    display: flex;
    flex-direction: column;
    gap: 18px;    
    @media (max-width: 815px) {
        max-width: 93%;
        width: 93%;
        padding: 5vw 3%;
    }
}

.title {
    color: $blue-dark;
    text-align: left;
    font-family: $font-roboto-slab;
    width: 80%;
    font-size: 44px;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.sliderContainer {
    // width: 100%;
    // max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 600px) {
        padding: 20px 5px;
    }
}

.mySwiper {
    max-width: 80vw;
    width: 80vw;
    height: 500px;
    border-radius: 12px;
    margin-top: 6vw;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

    @media (max-width: 800px) {
        height: 555px;
    }
}

.slide {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideContent {
    // position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
}

.imgWrap {
    position: relative;

    @media (max-width: 600px) {
        width: 30%;
    }
}

.slideImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slideText {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // right: 0;
    width: 50%;
    max-width: 50%;
    font-family: $font-roboto;
    color: $blue-dark;
    // background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
    color: white;
    padding: 30px 20px 20px;

    @media (max-width: 800px) {
        padding: 10px 10px 5px;
    }
}

.slideTitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: $font-roboto;
    color: $blue-dark;

    @media (max-width: 1100px) {
        font-size: 20px;
    }
    @media (max-width: 920px) {
        font-size: 18px;
    }
    @media (max-width: 800px) {
        font-size: 16px;
    }
}

.slideDescription {
    font-size: 16px;
    opacity: 0.9;
    font-family: $font-roboto;
    color: $blue-dark;
    @media (max-width: 1100px) {
        font-size: 15px;
    }
    @media (max-width: 920px) {
        font-size: 14px;
    }    
    @media (max-width: 800px) {
        font-size: 12px;
    }
}

// Стили для навигации
.swiper-button-next,
.swiper-button-prev {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    &::after {
        font-size: 20px;
        font-weight: bold;
    }
}

// Стили для пагинации
.swiper-pagination-bullet {
    background: white;
    opacity: 0.5;
    &-active {
        opacity: 1;
        background: #007aff;
    }
}
